#contact {
  color: #000000 !important;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Helvetica, sans-serif;
    color: #fff;
}
#MENU {
  display: block;
}
#textBelowAnimation{
 font-family: 'Quicksand', Helvetica, sans-serif;
}

.text-enter{
  display: none;
}
.mainContainers {
  margin-top: 100px;
  display: none;

}
#particles-js
{
    background: #111c22 !important;
    /* width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -10; */
}
.main1
{
    height: 500px !important ;
}
.my {
  position: absolute;
  width: 100% !important;
}
.sameAsmy{
  position: absolute;
  width: 100% !important;
}

.btn-info
{
  width: 40% !important;
}
.btn-success{
   font-size: 0.875em;
   display: block;
   left: -60px;
   margin-top: -15px;
   width: 40% !important;
   margin-left: auto;
   margin-right: auto;
}

.col-md-5 img
{
  width: 100% !important;
  padding-top: 40px;
}
body {
  font-family:'archive';
  background: #111c22 !important;
}

.my1 {
  margin: 0;
}
.main1 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #4fa6d5;
}

a:hover {
  color: #45beff;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'archive';
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #68A4C4;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #85b6cf;
  transition: background 0.2s ease-in-out;
}
.back-to-top:active{
  background: #68A4C4;
}
/* extra back to top */
/*--------------------------------------------------------------
# Header optional
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #1e4356;
}

#header.header-transparent {
  background: none;
}

#header.header-scrolled {
  background: rgba(30, 67, 86, 0.8);
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.text-light span {
  font-family: 'robo';
}

.nav-menu a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Quicksand';
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #1c3745;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #68A4C4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1e4356;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 67, 86, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
*/

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding-top: 100px;
}

.section-bg {
  background-color: #f3f8fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #68A4C4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

#particles-js
{
    background-color: #17141d;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .row + .row {
  margin-top: 100px;
}

.features h3 {
  font-weight: 400;
  font-size: 24px;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features ul li {
  padding-bottom: 10px;
}

.features ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #68A4C4;
}

.features p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0b212d;
  padding: 0 0 30px 0;
  color: #fff;
  font-family: 'batman';
  font-size: 14px;
  position: relative;
  margin-top: 20px;
  width: inherit;
}

#footer .credits {
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #a2cce3;
}
#contact {
  color: #000000 !important;
}
.lastButton {
  background:black !important;
}
text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
     font-family: 'Quicksand';
    
    font-size: 100%;
    vertical-align: baseline;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    background: #257679;
  	color: #ffffff;
}
.typing {
  width: 100%;
  height: 320px;
 
  text-align: center;
  
}
.typing h2 {
  
  font-size: 4.3em;
     font-family:'intro';
  padding: 7% 0 2% 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 430px) {
  .typing h2
  {
    font-size: 3.1em;
  }
  body{
    width: 400px !important;
  }
  .logo{
    font-size: 12px;
  }
}

@media only screen and (max-width: 370px) {
  .typing h2
  { 
    font-size: 2.6em;
  }
}


.typing .cursor {
    
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
#clockdiv {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-bottom: 100px;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
  }
  
  .div1 {
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    background-image: linear-gradient(to right,#1f1e1e,#151414);
    box-shadow: 0 5px 3px rgba(113, 111, 111, 0.5);
    display: inline-block;
  }
  
 .div1 span {
    padding: 15px;
    border-radius: 3px;
    background: #2f4c50;
    display: inline-block;
    /* box-shadow: 0 18px 18px rgba(94, 94, 94, 0.4); */
  }
  
  .smalltext {
    padding-top: 5px;
    font-size: 16px;
  }
  

  .loaderMain{
    position: absolute;
    width: 120%;
    height: 100%;
    background: white;
    z-index: 1000;

}

.relative {
    position: relative;
}
.loader-ring{
    position: absolute;
    top: 30%;
    left: 35%;
    width: 240px;
    height: 240px;
}
.loaderLogo {
    position: absolute;
    top: 17%;
    left: 16%;
    width: 160px;
    height: 160px;
}
@media only screen and (max-width: 600px) {
  .loader-ring{
    left: 15%;
  }
}

@media only screen and (max-width: 400px) {
  .loader-ring{
    left: 13% !important;
  }
  .loaderLogo{
      left: 15%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .loader-ring{
    left: 20%;
  }
}

.loader-ring-light {
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 4px 0 #00abf2 inset;
    -webkit-box-shadow: 0 4px 0 #00abf2 inset;
    box-shadow: 0 4px 0 #00abf2 inset;
    animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate-360 {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#eventOver{
    position: relative;
    font-size: 2rem !important;
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand;
    margin-top: -10%;
    font-weight: bolder;
}
.card-img-top{
  width: 100% !important;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

  
/* grid */
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Caption text */
/*.text  
{ 
  color: #f2f2f2; 
  font-size: 15px; 
  padding: 20px 15px; 
  position: absolute; 
  right: 10px; 
  bottom: 10px; 
  width: 40%; 
  background: rgba(0, 0, 0, .7); 
  text-align: left; 
} */
  
/* The dots/bullets/indicators */
.dot  
{ 
  height: 15px; 
  width: 15px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: #ddd; 
  border-width: 5 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
} 
  
.active  
{ 
  border-color: #666; 
} 
  
/* Animation */
.fade  
{ 
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 1.5s; 
  animation-name: fade-image; 
  animation-duration: 1.5s; 
} 
  
@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px)  
{ 
  .text {font-size: 11px} 
} 

#map{
  width: 100%;
}
@media only screen and (max-width: 460px) 
{
  #clockdiv {
    
    font-size: 24px;
  }
  
  .div1 {
    padding: 12px;
    
  }
  
 .div1 span {
    padding: 10px;

  }
  
  .smalltext {
    font-size: 12px;
  }
}